.company {
  background-color: #5DADE2;
  padding: 5px;
  color: white;
}
.contanier {
  width: 100%;
  
  .progressBar {
    counter-reset: step;

    li {
      list-style: none;
      float: left;
      width: 33.3%;
      position: relative;
      text-align: center;
      color: #2C3E50;;
    }
    li:before {
      content: counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #ddd;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
      color: #2C3E50;
    }

    li:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color:#ddd;
      top: 15px;
      left: -50%;
      z-index: -1;
    }

    li:first-child:after {
      content: none;
    }

    .checked {
      color: #49f00f;
    }

    .checked:before {
      content: "\2713";
      color: white;
      background-color: #49f00f;
    }

    li.checked + li:after {
      background-color: #49f00f;
    }

    .active {
      color: #08c7fa;
    }

    .active:before {
      color: white;
      background-color: #08c7fa;
    }

    .unTouched:before {
      background-color: #ddd;
      color: white;
    }

  }

}
