<div class="header">
  <div class="company">
    <h1>BabyFirst</h1>
  </div>
  <div class="contanier">
    <ul class='progressBar'>
      <li class='checked'>Profile</li>
      <li class='active'>Offers</li>
      <li class='unTouched'>Success</li>
    </ul>
  </div>
</div>
