<div class='footer'>
  <div>
    <img src="{{images.img_publisher_logoSVG}}">
    <button class='icons'>
      <i class="fab fa-facebook"></i>
      Like
    </button>
  </div>
  <div class='options'>
    <ul>
      <li>Terms & Conditions</li>
      <li>Privacy Policy</li>
      <li>My Account</li>
    </ul>
    <ul>
      <li>Terms of Service</li>
      <li>Contact Us</li>
      <li>Logout</li>
    </ul>
  </div>
</div>
