.offer {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: .5px;
  .brand {
    position: relative;
    p {
        display: inline-block;
        position: absolute;
        left: 10%;
        color: #5D6D7E;
      }
    }
  .product-name {
    font-size: 2rem;
    font-weight: bold;
    color: #2C3E50;
    flex: 1 0 auto;
  }
  .card {
    font-size: 1rem !important;
  }

  .description {
    color: #5D6D7E;
  }

  .tag{
    display: inline;
    text-transform: uppercase;
    padding: 3px 15px ;
    font-size: .8rem;
    font-weight: bold;
    text-shadow: .5px .5px;
  }

  .toddler{
    border: 2px solid #6eedf0;
    color: #6eedf0
  }

  .kids4{
    border: 2px solid #b2ee49;
    color: #b2ee49
  }

  .newborn{
    border: 2px solid #d029db;
    color: #d029db;
  }

  .allages{
    border: 2px solid #2b2432;
    color: #2b2432
  }

  .images-container {
    position: relative;
    margin: 10px 0;
  }

  .checkIcon{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
  }

  .tooltip {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
  }

  .productImg {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  @media only screen and (max-width: 600px) {
    .productImg{
      height: 100px;
    }

    .tag{
      font-size: 0.7rem;
    }
    min-height: 13rem;
  }
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-header {
    color: #FFF;
    padding: 2px 16px;
    background-color: #83d0f2;;

    .close {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

}

.modal-body {
  padding: 2px 16px;
  img {
    width: 10% !important;
  }
}

.modal-footer {
  padding: 2px 16px;
  color: white;
  .btn {
    margin-bottom: 1rem;
  }
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media only screen and (max-width: 600px) {
  .modal-content{
    height: 100%;
    width: 100%;
  }

  .modal-body {
    .product-name {
      font-size: 1rem;
    }

    .productImg {
      height: 200px;
      width: 30% !important;
    }

    .brand {
      p {
        left: 17%;
      }
    }
  }
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
