<div [style]='getStyle()' class="offer" (click)="check()">
  <div class="images-container">
    <img *ngIf="product.checked" class='checkIcon' src="{{images.icon_checkSVG}}">
    <a (click)='modalToggle()'>
      <img class='tooltip' src="{{images.tooltipIcon}}">
    </a>
    <img class='productImg' src="{{product.image}}">
  </div>

  <div class='offer-body'>
    <p class='tag {{product.tagClass}}'>{{product.tag}}</p>
    <p class='card product-name'>{{product.name}}</p>
  </div>

  <div *ngIf='showModal' class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class='close' (click)='modalToggle()'>&times;</span>
        <h3>Offer Detail</h3>
      </div>
      <div class="modal-body images-container">
        <img class='productImg' src="{{product.image}}">
        <div class='offer-body'>
          <p class='tag {{product.tagClass}}'>{{product.tag}}</p>
          <p class='product-name'>{{product.name}}</p>
          <div class="brand">
            <img style='width: 45px !important; height: 45px;'src="{{product.logo}}" alt="">
            <p>{{product.brand}}</p>
          </div>
          <hr>
          <p class='description'>{{product.description}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" (click)='detailCheck()'>Select Offer</button>
      </div>
    </div>
  </div>
</div>
