/* You can add global styles to this file, and also import other style files */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  color: #f8f9fa;
  background-color: #5DADE2;
  border-color: #f8f9fa;
}

.disable {
  background-color: #AEB6BF;
  color: white;
}

.enable {
  background-color: #58D68D;
  color: white;
}

.icons {
  background-color: #1a0dab;
  color: white;
  float:right;
}
