<h2 class='step-title'>Pick your offers</h2>
<div class='offers'>
  <offer *ngFor="let product of products"
    [product]='product' [images]='images'
    (checkOffer) = 'offerNumberUpdate($event)'
    >
  </offer>
  <div class="page-action last-backup success">
    <div *ngIf="offerNumberChecked < 5;else enableBtn">
      <button class='disable btn'>{{offerNumber}}</button>
    </div>
    <ng-template #enableBtn>
      <button class='btn enable' (click)='submitRequest()'>{{offerNumber}}</button>
    </ng-template>
  </div>
</div>
