.step-title{
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;

  offer{
    width: 33%;
  }

  .page-action {
    background: #eee;
    border-top: 1px solid #e4e7ed;
    bottom: 0;
    left: 0;
    padding: .3rem 2.3rem;
    position: fixed;
    right: 0;
    text-align: right;
    z-index: 20;
  }

  .page-action .btn {
    border-radius: 4px;
    border: 0 none;
  }

  @media only screen and (max-width: 600px) {
    offer{
      width: 50%;
    }

    .page-action .btn {
      border-radius: 4px;
      border: 0 none;
      width: 100%;
    }
  }

}
